<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%> Shop</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <p>Here are the books that we sell:</p>
    <ul>
  <li>Brighton Rock, £20.25</li>
  <li>Brave New World, £25.00</li>
  <li>Animal Farm, £12.99</li>
  <li>The Art of War, £19.99</li>
  <li>The 48 Laws of Power, £9.99</li>
    </ul>
  </body>
</html>